.columns-section {
	margin-top: 1.875rem;
	margin-bottom: 1.875rem;

	.columns-column {
		padding: 2rem;
		overflow: hidden;

		.columns-thumbnail {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}
}
