.grid-service-card {
	box-shadow: $shadow-small;
	height: 100%;

	.content {
		padding: 1.6rem;

		.categories {
			color: $color-primary;
			font-size: $font-size-s;
			font-weight: 500;
			text-transform: uppercase;

			a {
				color: inherit;
			}
		}

		.tag-badges {
			display: flex;
			flex-wrap: wrap;
		}

		.tag-badge {
			background-color: $color-secondary;
			border-radius: 1rem;
			color: $color-white;
			font-size: $font-size-xs;
			margin-right: 0.4rem;
			margin-bottom: 0.4rem;
			padding: 0.4rem 0.8rem;
			text-transform: uppercase;
			white-space: nowrap;
		}
	}
}
