.header-section {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 1.875rem;
	background-color: $color-primary;
	color: $color-white;

	.subtitle {
		margin-bottom: 0;
	}
}
