.slider-section {
	.slider-wrapper {
		padding: 4rem;
		min-height: 16rem;
		display: flex !important;
		align-items: center;

		&.light-text {
			color: $color-white;
		}

		&.dark-text {
			color: $color-black;
		}
	}
}
