.slider-section {
	.slick-slider {
		margin-top: 30px;
	}

	.slider-wrapper {
		background-size: cover;
		padding: 4rem;
		min-height: 16rem;
		display: flex !important;
		align-items: center;

		&.light-text {
			color: $color-white;
		}

		&.dark-text {
			color: $color-black;
		}
	}

	.slider-title {
		margin-bottom: 1.875rem;
	}
}
