// Buttons

%btn {
	padding: 1rem;
	font-size: $font-size-default;
	text-decoration: none;
	transition: $transition-default;
	display: inline-block;

	&:hover {
		text-decoration: none;
		color: $color-white
	}
}

.btn-primary {
	@extend %btn;
	background-color: $color-primary;
	color: $color-white;

	&:hover {
		background-color: $color-primary-light;
	}
}

.btn-secondary {
	@extend %btn;
	background-color: $color-secondary;
	color: $color-white;

	&:hover {
		background-color: $color-secondary-light;
	}
}

// Accordions

.accordion {
	margin-top: 1rem;

	.accordion-title {
		color: $color-primary;
	}

	ul {
		margin-bottom: 1rem;
	}
}

// Tooltip

.tooltip.top {
	background-color: $color-primary-dark;

	&::before {
		border-color: $color-primary-dark transparent transparent;
	}
}

span.has-tip {
	color: $color-primary-dark;
}

// Breadcrumbs

.breadcrumbs {
	font-size: 0.875rem;

	a span {
		color: $color-white;
		transition: $transition-slow;

		&:hover {
			text-decoration: underline;
			color: $color-secondary-light;
		}
	}
}
