// Buttons

%btn {
	padding: 1rem;
	font-size: $font-size-default;
	text-decoration: none;
	transition: $transition-default;
	display: inline-block;

	&:hover {
		box-shadow: $shadow-small;
		color: $color-white
	}
}

.btn-primary {
	@extend %btn;
	background-color: $color-primary;
	color: $color-white;

	&:hover {
		background-color: $color-primary-light;
	}
}

.btn-secondary {
	@extend %btn;
	background-color: $color-secondary;
	color: $color-white;

	&:hover {
		background-color: $color-secondary-light;
	}
}

// Accordions

.accordion {
	margin-bottom: 0;
}
