.site-footer {
	background-color: $color-grey-light;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-top: 1.875rem;

	h2 {
		font-size: $font-size-h4;
	}

	.copyright {
		padding-top: 2rem;
		margin-bottom: 0rem;
		text-align: center;
	}
}
