.site-header {
	background-color: $color-grey-light;

	.site-title {
		margin: 0;
	}

	.site-header-inner {
		padding-top: 1rem;
		padding-bottom: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.main-navigation {
	.menu {
		display: flex;
		list-style: none;
		padding-left: 0;

		.menu-item {
			margin-left: 12px;
			margin-right: 12px;
		}

		.menu-item:last-child {
			margin-right: 0;
		}
	}
}

.primary-navigation {
	.first-sub {
		margin-top: 1rem;
	}

	.is-dropdown-submenu {
		border: 0;
		box-shadow: $shadow-small;
	}
}
