.site-header {
	background-color: $color-grey-light;

	.site-title {
		margin: 0;
	}

	.site-header-inner {
		padding-top: 1rem;
		padding-bottom: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.primary-navigation {
	display: none;

	@media (min-width: 40rem) {
		display: block;
	}

	.first-sub {
		margin-top: 1rem;
	}

	.is-dropdown-submenu {
		border: 0;
		box-shadow: $shadow-small;
	}
}

.site-header {
	.primary-navigation-menu {
		background-color: $color-grey-light;

		@media (min-width: 40rem) {
			display: none !important;
		}
	}
}
