main {
	height: 100%;
}

a {
	transition: $transition-default;
	color: $color-secondary-dark;

	&:hover {
		color: $color-primary;
		text-decoration: underline;
	}
}

.image-box {
	height: 12rem;
	margin-bottom: 1rem;
	width: 100%;
	overflow: hidden;

	.zoom-on-hover {
		object-fit: cover;
		transition: $transition-slow;

		&:hover {
			transform: scale( 1.15 );
		}
	}
}
