body {
	font-family: $font-family-body;
	font-size: 16px;
}

%heading {
	font-weight: 700;
	line-height: 1.15;
	font-family: $font-family-heading;
}

h1, .heading-x-lg {
	@extend %heading;
	font-size: $font-size-h1;
}

h2, .heading-lg {
	@extend %heading;
	font-size: $font-size-h2;
}

h3, .heading-md {
	@extend %heading;
	font-size: $font-size-h3;
}

h4, .heading-sm {
	@extend %heading;
	font-size: $font-size-h4;
}

h5, .heading-x-sm {
	@extend %heading;
	font-size: $font-size-h5;
}

h6 {
	@extend %heading;
	font-size: $font-size-default;
}
